<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.nanqiao.dao.mapper.manual.ActivityApplyStatisticsManualMapper">
    <resultMap id="BaseResultMap" type="com.example.nanqiao.dao.entity.ActivityApplyStatisticsDO">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="activity_id" jdbcType="BIGINT" property="activityId" />
        <result column="activity_name" jdbcType="VARCHAR" property="activityName" />
        <result column="male_number" jdbcType="INTEGER" property="maleNumber" />
        <result column="female_number" jdbcType="INTEGER" property="femaleNumber" />
        <result column="apply_number" jdbcType="INTEGER" property="applyNumber" />
        <result column="apply_success_number" jdbcType="INTEGER" property="applySuccessNumber" />
        <result column="version" jdbcType="INTEGER" property="version" />
        <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
        <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
    </resultMap>
    <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.example.nanqiao.dao.entity.ActivityApplyStatisticsDO">
        <result column="age_range" jdbcType="LONGVARCHAR" property="ageRange" />
    </resultMap>

    <select id="selectByActivityIdForUpdate" parameterType="com.example.nanqiao.dao.entity.ActivityApplyStatisticsDOExample" resultMap="BaseResultMap">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List" />
        from activity_apply_statistics
        <if test="_parameter != null">
            <include refid="Example_Where_Clause" />
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
        for update
    </select>
</mapper>