<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.nanqiao.dao.mapper.ActivityInfoMapper">
  <resultMap id="BaseResultMap" type="com.example.nanqiao.dao.entity.ActivityInfoDO">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="activity_id" jdbcType="VARCHAR" property="activityId" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="image_path" jdbcType="VARCHAR" property="imagePath" />
    <result column="desc_path" jdbcType="VARCHAR" property="descPath" />
    <result column="content_path" jdbcType="VARCHAR" property="contentPath" />
    <result column="attention_path" jdbcType="VARCHAR" property="attentionPath" />
    <result column="number_limit" jdbcType="INTEGER" property="numberLimit" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="start_time" jdbcType="TIMESTAMP" property="startTime" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, activity_id, title, image_path, desc_path, content_path, attention_path, number_limit, 
    address, start_time, gmt_create, gmt_modified, creator
  </sql>
  <select id="selectByExample" parameterType="com.example.nanqiao.dao.entity.ActivityInfoDOExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from activity_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.example.nanqiao.dao.entity.ActivityInfoDO" useGeneratedKeys="true">
    insert into activity_info (activity_id, title, image_path, 
      desc_path, content_path, attention_path, 
      number_limit, address, start_time, 
      gmt_create, gmt_modified, creator
      )
    values (#{activityId,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}, #{imagePath,jdbcType=VARCHAR}, 
      #{descPath,jdbcType=VARCHAR}, #{contentPath,jdbcType=VARCHAR}, #{attentionPath,jdbcType=VARCHAR}, 
      #{numberLimit,jdbcType=INTEGER}, #{address,jdbcType=VARCHAR}, #{startTime,jdbcType=TIMESTAMP}, 
      #{gmtCreate,jdbcType=TIMESTAMP}, #{gmtModified,jdbcType=TIMESTAMP}, #{creator,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.example.nanqiao.dao.entity.ActivityInfoDO" useGeneratedKeys="true">
    insert into activity_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="activityId != null">
        activity_id,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="imagePath != null">
        image_path,
      </if>
      <if test="descPath != null">
        desc_path,
      </if>
      <if test="contentPath != null">
        content_path,
      </if>
      <if test="attentionPath != null">
        attention_path,
      </if>
      <if test="numberLimit != null">
        number_limit,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="startTime != null">
        start_time,
      </if>
      <if test="gmtCreate != null">
        gmt_create,
      </if>
      <if test="gmtModified != null">
        gmt_modified,
      </if>
      <if test="creator != null">
        creator,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="activityId != null">
        #{activityId,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="imagePath != null">
        #{imagePath,jdbcType=VARCHAR},
      </if>
      <if test="descPath != null">
        #{descPath,jdbcType=VARCHAR},
      </if>
      <if test="contentPath != null">
        #{contentPath,jdbcType=VARCHAR},
      </if>
      <if test="attentionPath != null">
        #{attentionPath,jdbcType=VARCHAR},
      </if>
      <if test="numberLimit != null">
        #{numberLimit,jdbcType=INTEGER},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="startTime != null">
        #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="creator != null">
        #{creator,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.example.nanqiao.dao.entity.ActivityInfoDOExample" resultType="java.lang.Long">
    select count(*) from activity_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update activity_info
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.activityId != null">
        activity_id = #{record.activityId,jdbcType=VARCHAR},
      </if>
      <if test="record.title != null">
        title = #{record.title,jdbcType=VARCHAR},
      </if>
      <if test="record.imagePath != null">
        image_path = #{record.imagePath,jdbcType=VARCHAR},
      </if>
      <if test="record.descPath != null">
        desc_path = #{record.descPath,jdbcType=VARCHAR},
      </if>
      <if test="record.contentPath != null">
        content_path = #{record.contentPath,jdbcType=VARCHAR},
      </if>
      <if test="record.attentionPath != null">
        attention_path = #{record.attentionPath,jdbcType=VARCHAR},
      </if>
      <if test="record.numberLimit != null">
        number_limit = #{record.numberLimit,jdbcType=INTEGER},
      </if>
      <if test="record.address != null">
        address = #{record.address,jdbcType=VARCHAR},
      </if>
      <if test="record.startTime != null">
        start_time = #{record.startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.gmtCreate != null">
        gmt_create = #{record.gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.gmtModified != null">
        gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="record.creator != null">
        creator = #{record.creator,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update activity_info
    set id = #{record.id,jdbcType=BIGINT},
      activity_id = #{record.activityId,jdbcType=VARCHAR},
      title = #{record.title,jdbcType=VARCHAR},
      image_path = #{record.imagePath,jdbcType=VARCHAR},
      desc_path = #{record.descPath,jdbcType=VARCHAR},
      content_path = #{record.contentPath,jdbcType=VARCHAR},
      attention_path = #{record.attentionPath,jdbcType=VARCHAR},
      number_limit = #{record.numberLimit,jdbcType=INTEGER},
      address = #{record.address,jdbcType=VARCHAR},
      start_time = #{record.startTime,jdbcType=TIMESTAMP},
      gmt_create = #{record.gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP},
      creator = #{record.creator,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <select id="selectByExampleWithRowbounds" parameterType="com.example.nanqiao.dao.entity.ActivityInfoDOExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from activity_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
</mapper>